body {
    color:white;
    background-color: #0D1117;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.title {
    font-weight: 900;
    font-size: xx-large;
    background-color: #161B22;
    padding: 30px;
    width: 100%;
    margin-bottom:30px;
}
.section {
    border: 2px solid rgb(153, 153, 153);
    background-color: #032350;
    border-radius: 10px;
    height: 450px;
    width: 450px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.screen {
    border: 1px solid rgb(78, 78, 78);
    background-color: #161B22;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-end;
    padding: 5px;
    margin: 5px;
}
.screen div {
    flex: auto;
    align-items: flex-end;
}
#s1 {
    display: flex;
    align-items:center; 
}
#s2 {
    display: flex;
    align-items: bottom;
    flex: 2;
    font-size: xx-large;
    font-weight:600;
}
.buttons {
    flex: 4;
    margin:5px;
}
.buttons div {
    display: flex;
    flex:auto;
}
.buttons button {
    flex: 1;
    margin:7px;
    border: 1px solid rgb(78, 78, 78);
    border-radius: 5px;
}
.number {
    background-color: #0D1117;
    color:aliceblue;
    font-size: xx-large;
}
.footer {
    margin-top:30px;
}